<?php

declare(strict_types=1);

return [
  'BASE_PATH' => '',
  'SITE_URL' => 'https://protrabajo.cl',
  'TO_EMAIL' => 'contacto@protrabajo.cl, codigoraul@gmail.com',
  'FROM_EMAIL' => 'contacto@protrabajo.cl',
  'FROM_NAME' => 'ProTrabajo',
  'BCC_EMAILS' => '',
];
